.styles_faq-row-wrapper__3Hsch {
    --title-text-color:black;
    --row-title-color: #dce3de;
}

#react-faq-rowcontent-1, #react-faq-rowcontent-2, #react-faq-rowcontent-3, #react-faq-rowcontent-4 {
    text-align: left;
} 
