h5.latcard{
    background-color: #e0e0e0;
    color: #212529;
    border-radius: 5px;
    width: auto;
    padding: 8px;
  }
  .card-page:hover{
    background-color: #e9eaea;
  }
  .img-page{
    width:85%;
  }
  .newspage-date{
    font-size: 14px;
    color: grey;
    text-align: left;
    margin: 0% 0% 1% 0%;
  }
  .newspage-title{
    /* font-family: serif; */
    font-family: 'PT Serif', sans-serif;
    padding: 2% 8% 1% 8%;
    text-align: left;
  }
  p.card-title{
    color: black;
    font-size: 16px;
    text-align: left;
    /* font-family: serif; */
    font-family: 'PT Serif', sans-serif !important;
    font: -webkit-control;
  }
  .card-page p.number{
    /* font-family: serif; */
    font-family: 'PT Serif', sans-serif;
    font-size: 11px;
    color: grey;
    text-align: left;
    margin: 0%;
  }